@import "~ng-smn-ui/core/variables";

:host {
    .background {
        min-height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background: #2d8eae url('/assets/img/not-found-background.jpg') center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        transition: padding-left 0.28s ui-easing('deceleration');

        overflow-y: auto;

        padding: 0 10px;

        color: #fff;

    }

    h1 {
        font-size: 72px;
        margin-bottom: 0;
    }
}

:host-context(body.ui-nav-drawer-persistent) .background {
    @include desktop {
        padding-left: 320px;
    }
}
